# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Expo
.expo/
.expo-shared/

# macOS
.DS_Store

# Android
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/app/*.keystore
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/raw/sentry-debug-meta.properties

# iOS
ios/Pods/
ios/Podfile.lock
ios/Podfile.new.lock
ios/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/
ios/build/
ios/DerivedData/
ios/.idea/
ios/.vscode/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Firebase
firebase-debug.log
ios/GoogleService-Info.plist
android/app/google-services.json

# React Native
*.bundle
*.lock
*.swp
*.swo
*.DS_Store
*.tgz
*.tmproj
*.tsbuildinfo

# React Native Packager
.expo
.expo-shared
.expo-shared/assets.json
node_modules/@react-native/assets/
node_modules/@react-native/polyfills/
.env

# Bundler
.babelrc
.babelrc.js
.env.local
.env.development.local
.env.test.local
.env.production.local
__generated__/
npm-debug.log*
yarn-error.log*

# Build and output
/coverage
build/
dist/
.tmp
lib/
android/app/google-services.json
